<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Historic Incidents ({{ incidents.length }})</h4>
  <div class="card-block">
    <div *ngIf="rows && rows.length > 0">
      <ngx-datatable class="material"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [scrollbarH]="true"
        [headerHeight]="50"
        [rowHeight]="50"
        [selected]="selected"
        [selectionType]="'single'"
        [footerHeight]="50"
        (select)='onSelect($event)'>
      </ngx-datatable>
    </div>
    <div *ngIf="rows.length === 0">
      <span class="text-danger">No incidents loaded! See README to import into Mongodb via mongoimport</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <app-incident-map *ngIf="selected.length > 0"
      [incident]="selected[0]">
    </app-incident-map>
  </div>
  <div class="col-md-5">
    <div clas="row">
      <app-incident-weather *ngIf="selected.length > 0"
        [incident]="selected[0]">
      </app-incident-weather>
      <app-incident-parcel *ngIf="selected.length > 0"
        [incident]="selected[0]">
      </app-incident-parcel>
    </div>
  </div>
</div>
