<div class="card">
  <h4 class="card-header">About</h4>
  <div class="card-block">
    <ul>
      <li><b>Author:</b> <span>Joseph Chop</span></li>
      <li><b>GitHub:</b> <a href="https://github.com/chopchop505/RichmondGIS" target="_blank">project repository</a></li>
      <li><b>This project uses the MEAN stack:</b></li>
      <ul>
        <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
        <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
        <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2+</a></li>
        <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
      </ul>
      <li><b>Other tools and technologies used:</b></li>
      <ul>
        <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
        <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
        <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
        <li><a href="https://jwt.io" target="_blank">JSON Web Token</a></li>
        <li><a href="https://github.com/auth0/angular2-jwt" target="_blank">Angular 2 JWT</a></li>
        <li><a href="https://github.com/dcodeIO/bcrypt.js" target="_blank">Bcrypt.js</a></li>
        <li><a href="http://leafletjs.com/" target="_blank">Leaflet</a></li>
        <li><a href="https://github.com/Asymmetrik/ngx-leaflet" target="_blank">ngx-leaflet</a></li>
        <li><a href="http://swimlane.github.io/ngx-datatable/" target="_blank">ngx-datatable</a></li>
        <li><a href="https://momentjs.com/" target="_blank">Moment.js</a></li>

      </ul>
      <li><b>Data sources:</b></li>
      <ul>
        <li><a href="https://openstreetmap.org/" target="_blank">Open Street Map</a></li>
        <li><a href="https://darksky.net/poweredby/" target="_blank">Powered by Dark Sky</a></li>
        <li><a href="http://www.richmondgov.com/GIS/" target="_blank">Richmond GIS</a></li>
      </ul>
    </ul>
  </div>
</div>
